/*INICIO CABERA*/
/* Logo a la izquierda y menú de navegación debajo del logo */
.site-header {
  background-color: #fff; /* Fondo blanco para la cabecera */
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

/* Asegura que el contenedor de la barra de navegación ocupe el ancho completo */
.site-header .container {
  max-width: 100%; /* Anula cualquier max-width que Bootstrap pueda aplicar */
  flex-grow: 1; /* Asegura que el contenedor crezca para ocupar todo el espacio disponible */
}

#logo {
  max-width: 200px; /* Ajusta al tamaño de tu logo */
  height: auto;
  display: block;
  margin-left: 10px; /* Espacio a la izquierda del logo */
  margin-top: 10px;
}

/* Barra de navegación debajo del logo */
.navbar {
  border-bottom: 1px solid #ddd;
}

/* Centra los elementos de la barra de navegación horizontalmente */
.navbar-nav {
  display: flex; /* Establece los elementos de la navegación en línea */
  justify-content: center; /* Centra los elementos de navegación */
  flex-grow: 1; /* Asegura que la barra de navegación ocupe todo el espacio disponible */
}

/* Centra el contenedor de navegación dentro de la barra de navegación */
.navbar-collapse {
  justify-content: center; /* Centra los elementos de navegación */
  flex-grow: 1; /* Asegura que el contenedor de navegación ocupe todo el espacio disponible */
}

/* Contenedor de navegación */
.navbar-collapse {
  justify-content: center; /* Centrar los enlaces de navegación */
}

/* Estilos para los elementos de la barra de navegación */
.navbar-nav .nav-link {
  color: #000; /* Color inicial de los enlaces */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}

/* Estilos para el enlace de la página actual */
.navbar-nav .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(211, 104, 104); /* Cambio de color a azul oscuro tipo marino al pasar el cursor */
  border-bottom: 3px solid black; /* Barra indicadora para la página actual */
}

/* Elimina la barra inferior en hover, solo la queremos en el enlace activo */
.navbar-nav .nav-item:hover .nav-link {
  border-bottom: none;
}

/* Añade una transición suave para el indicador de la página actual */
.nav-link.active {
  transition: border-bottom 0.3s;
}

/* Estilos adicionales para mejorar el hover de los enlaces */
.navbar-nav .nav-link:not(.active):hover {
  color: black; /* Cambia a azul oscuro cuando se pasa el cursor por encima */
}
/*FIN CABERA*/





/*INICIO DE CONTENIDO*/
.container-main {
  position: relative;
}

/* Estilos para .carousel-item */
.carousel-item {
  height: 70vh; /* Altura fija para el carrusel, ajustar según sea necesario */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Envoltura para la sección de reserva */
.booking-wrapper {
  position: absolute;
  width: 100%;
  top: 50%; /* Ajuste verticalmente al centro */
  transform: translateY(-50%);
  z-index: 3; /* Asegúrate de que esto sea mayor que el z-index del carrusel */
}

/* Estilos para la sección de reserva */
.booking-section {
  position: absolute; /* Posicionamiento absoluto con respecto al carrusel */
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar exactamente el formulario */
  z-index: 20; /* Asegúrate de que el z-index sea suficientemente alto para estar encima de las imágenes del carrusel */
  width: 100%; /* Asume el ancho completo para centrar el contenido interno */
  max-width: 600px; /* O el ancho máximo que prefieras para el formulario */
  /* Añade un fondo y otros estilos para que coincida con tus necesidades */
}

.booking-section h1 {
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px #000000;
}

/* Media queries para asegurar que el formulario responda con el carrusel */
@media (max-width: 768px) {
  .booking-section {
    /* Ajustes para dispositivos móviles */
    top: 50%; /* Puedes ajustar esto según sea necesario */
    max-width: 75%; /* O el ancho máximo que prefieras para el formulario en móviles */
  }
}

/* Asegúrate de que el carrusel cubra el alto del formulario cuando la pantalla sea más pequeña */
@media (max-height: 500px) {
  .carousel-item {
    min-height: 100px; /* Ajusta esto para asegurarte de que el carrusel sea lo suficientemente alto */
  }
}
/*FIN DE CONTENIDO*/






/* INICIO DE FOOTER*/
.site-footer {
  background-color: #0f4d5a ;
  color: white;
  padding: 15px 0;
}

.footer-column h3 {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-contact li,
.footer-links li,
.footer-social li {
  list-style: none;
  margin-bottom: 1px;
}

li a {
  color: white; /* Puedes ajustar el color del texto según tus preferencias */
}

li a:hover {
  text-decoration: underline;
  color: white; /* Puedes ajustar el color del texto al pasar el mouse por encima */
}

.footer-contact li i,
.footer-social li a {
  margin-right: 10px; /*Sangria*/
  color: #aaa;
}

.footer-social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #555;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.footer-social li a:hover {
  background-color: #ddd;
  color: #333;
}

.footer-bottom {
  border-top: 2px solid black; /*linea*/
  padding-top: 5px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-column {
    text-align: center;
  }

  .footer-social,
  .footer-legal {
    text-align: center;
    margin-bottom: 20px;
  }
}
/* FIN DE FOOTER*/