/*INICIO CABERA*/
.site-header .container {
  max-width: 100%; /* Anula cualquier max-width que Bootstrap pueda aplicar */
  flex-grow: 1; /* Asegura que el contenedor crezca para ocupar todo el espacio disponible */
}

.site-header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  max-width: 200px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.header-icons {
  display: flex;
}

.header-icon {
  margin-right: 20px;
  color: #0f4d5a; /* Color de los iconos */
  font-size: 25px; /* Tamaño de los iconos */
  text-decoration: none;
  transition: color 0.3s; /* Transición suave del color al pasar el cursor sobre los iconos */
}

.header-icon:hover {
  color: #4494b3 ; /* Cambio de color al pasar el cursor sobre los iconos */
}

/* Espacio entre los iconos */
.header-icon + .header-icon {
  margin-left: 15px; /* Ajusta según sea necesario */
}

/* Barra de navegación debajo del logo */
.navbar {
  border-bottom: 1px solid #ddd;
}

/* Centra los elementos de la barra de navegación horizontalmente */
.navbar-nav {
  display: flex; /* Establece los elementos de la navegación en línea */
  justify-content: center; /* Centra los elementos de navegación */
  flex-grow: 1; /* Asegura que la barra de navegación ocupe todo el espacio disponible */
}

/* Centra el contenedor de navegación dentro de la barra de navegación */
.navbar-collapse {
  justify-content: center; /* Centra los elementos de navegación */
  flex-grow: 1; /* Asegura que el contenedor de navegación ocupe todo el espacio disponible */
}

/* Contenedor de navegación */
.navbar-collapse {
  justify-content: center; /* Centrar los enlaces de navegación */
}

/* Estilos para los elementos de la barra de navegación */
.navbar-nav .nav-link {
  color: #000; /* Color inicial de los enlaces */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}

/* Estilos para el enlace de la página actual */
.navbar-nav .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(211, 104, 104); /* Cambio de color a azul oscuro tipo marino al pasar el cursor */
  border-bottom: 3px solid black; /* Barra indicadora para la página actual */
}

/* Elimina la barra inferior en hover, solo la queremos en el enlace activo */
.navbar-nav .nav-item:hover .nav-link {
  border-bottom: none;
}

/* Añade una transición suave para el indicador de la página actual */
.nav-link.active {
  transition: border-bottom 0.3s;
}

/* Estilos adicionales para mejorar el hover de los enlaces */
.navbar-nav .nav-link:not(.active):hover {
  color: black; /* Cambia a azul oscuro cuando se pasa el cursor por encima */
}
/*FIN CABERA*/





/*INICIO CONTENIDO*/
  /* Estilos para la página de productos */
  .product-page {
    padding: 20px;
    color: #fff; /* Texto en blanco para contraste */
  }
  
  .product-page h2 {
    text-align: center;
    color: #000; /* Cambiar el color del texto a negro */
    margin-bottom: 30px;
    font-size: 2rem;
    animation: fadeIn 2s ease-in-out;
  }
  
  .card {
    background-color: #333; /* Fondo oscuro para las tarjetas */
    color: #fff; /* Texto en blanco para contraste */
    /* Resto de tus estilos para .card */
  }
  
  .availability-badge {
    position: absolute;
    bottom: 10px; /* Colocar en la esquina inferior derecha */
    right: 10px;
    background-color: #dc3545; /* Fondo rojo para no disponibilidad */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
  }
  
  /* Cambia el color de fondo del aviso de disponibilidad según el estado */
  .availability-badge.disponible {
    background-color: #28a745; /* Fondo verde para disponibilidad */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .card {
    background-color: #f8f9fa; /* Fondo claro para las tarjetas */
    color: #000; /* Texto en negro para las tarjetas */
    margin-bottom: 2rem;
  }
  
  .card img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease; /* Animación suave para las imágenes */
  }
  
  .card:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón sobre la imagen */
  }
  
  /* Estilos para los textos de la tarjeta */
  .card-title, .card-text {
    font-weight: bold;
  }
  
  /* Estilos para los elementos de la lista de las tarjetas */
  .card-text ul li {
    margin-bottom: 0.5rem;
  }
  
  .card-text ul li::before {
    content: "\2022";  /* Bala Unicode */
    color: #007bff; /* Color para la bala, azul por ejemplo */
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  
  /* Más estilos responsivos si se necesitan */
  @media (max-width: 576px) {
    .product-page h2 {
      font-size: 1.5rem;
    }
  }
  
  #fechas-reserva label {
    color: #000; /* Cambia el color del texto a negro */
  }
  
  #fechas-reserva {
    display: flex;
    justify-content: center;
    gap: 20px; /* O el espacio que prefieras entre los inputs */
    margin-bottom: 20px; /* Espacio debajo del bloque de fechas */
  }
  
  #fechas-reserva input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* O el color que prefieras */
    color: #000;
  }

.add-to-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #105564 ; /* Color por defecto */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suavizar la transición de color */
}

.add-to-cart:hover {
  background-color: #688ea1   ; /* Color al pasar el cursor */
}

  /* Fin Estilos - Productos.html */
/*FIN CONTENIDO*/







/* INICIO DE FOOTER*/
.site-footer {
  background-color: #0f4d5a ;
  color: white;
  padding: 15px 0;
}

.footer-column h3 {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-contact li,
.footer-links li,
.footer-social li {
  list-style: none;
  margin-bottom: 1px;
}

li a {
  color: white; /* Puedes ajustar el color del texto según tus preferencias */
}

li a:hover {
  text-decoration: underline;
  color: white; /* Puedes ajustar el color del texto al pasar el mouse por encima */
}

.footer-contact li i,
.footer-social li a {
  margin-right: 10px; /*Sangria*/
  color: #053543 ;
}

.footer-social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ebf2f4 ;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.footer-social li a:hover {
  background-color: #053543;
  color: #ddd;
}

.footer-bottom {
  border-top: 2px solid black; /*linea*/
  padding-top: 5px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-column {
    text-align: center;
  }

  .footer-social,
  .footer-legal {
    text-align: center;
    margin-bottom: 20px;
  }
}
/* FIN DE FOOTER*/