
<div class="container mt-5">
  <div class="row">
      <!-- Customer Data Column -->
      <div class="col-12 mb-4">
        <div *ngIf="clienteActual" class="customer-data-block">
          <h2>Datos del Cliente</h2>
          <p><strong>Nombre:</strong> {{ clienteActual.nombre }} {{ clienteActual.apellido }}</p>
          <p><strong>Correo:</strong> {{ clienteActual.correo }}</p>
          <p><strong>Cédula:</strong> {{ clienteActual.cedula }}</p>
          <p><strong>Teléfono:</strong> {{ clienteActual.telefono }}</p>
        </div>
      </div>
  </div>
  <div class="row">
      <!-- Purchase Summary Column -->
      <div class="col-md-8 mb-4">
        <div class="purchase-summary-block">
            <h2>Resumen de Compras</h2>
            <div *ngIf="reservasConfirmadas.length > 0; else emptySummary">
              <div *ngFor="let reserva of reservasConfirmadas">
                <p>Reserva realizada para las fechas: {{ reserva.fechaInput | date }} - {{ reserva.fechaOutput | date }}</p>
                <p>Habitaciones reservadas:
                  <span *ngFor="let habitacionId of reserva.habitaciones; let i = index">
                    {{ habitacionId }}<span *ngIf="i < reserva.habitaciones.length - 1">, </span>
                  </span>
                </p>
              </div>
            </div>
            <ng-template #emptySummary>
              <p>'Historial vacío'</p>
            </ng-template>
        </div>
      </div>
      <!-- Payment Column -->
      <div class="col-md-4">
        <div class="payment-block">
            <h2>Pago</h2>
            <!-- Aquí se llama al método confirmarReserva() cuando se hace clic en el botón -->
            <button class="btn btn-primary mt-2" (click)="confirmarReserva()" type="button">Confirmar</button>
        </div>
      </div>
  </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
<!-- ... -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
    <!-- El botón "Sí" llama a confirmarReserva() y cierra el modal -->
    <button type="button" class="btn btn-primary" (click)="confirmarReserva()">Sí</button>
</div>
</div>
