<footer id="footer">
    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-column">
                    <h3>Hotel Copo de Nieve</h3>
                    <ul class="footer-contact">
                        <li><a href="https://maps.app.goo.gl/Cx6kARwJGkga7PUp9" target="_blank"><i class="fa fa-map-marker"></i>Av. Ladrón de Guevara E11-253, Quito 170143 Ecuador</a></li>
                        <li><a href="tel:+59321234567" target="_blank"><i class="fa fa-phone"></i>+5932 1234567</a></li>

                    </ul>
                </div>
                <div class="col-md-6 footer-column">
                    <h3>Más</h3>
                    <ul class="footer-links">
                        <li><a [routerLink]="['/inicio']">Inicio</a></li>
                        <li><a [routerLink]="['/contacto']">Contacto</a></li>
                        <li><a [routerLink]="['/sobre-nosotros']">Acerca de nosotros</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-column">
                    <h3>Medios sociales</h3>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>©2024 All rights reserved | Powered by GRUPO7</p>
            </div>
        </div>
    </div>
</footer>
