
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/frontend2.0/src/app/components/css/img/4b664fa9-f73a-4441-8592-42aedcaafd50.jpeg">
    <title>Hotel Copo de Nieve | Inicio</title>
    <link rel="stylesheet" href="/frontend2.0/src/app/components/css/styles.inicio.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-column">
                    <h3>Hotel Copo de Nieve</h3>
                    <ul class="footer-contact">
                        <li><a href="https://maps.app.goo.gl/Cx6kARwJGkga7PUp9" target="_blank"><i class="fa fa-map-marker"></i>Av. Ladrón de Guevara E11-253, Quito 170143 Ecuador</a></li>
                        <li><a href="tel:+59321234567" target="_blank"><i class="fa fa-phone"></i>+5932 1234567</a></li>

                    </ul>
                </div>
                <div class="col-md-6 footer-column">
                    <h3>Más</h3>
                    <ul class="footer-links">
                        <li><a href="inicio.html">Inicio</a></li>
                        <li><a href="habitaciones.html">Habitaciones</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                        <li><a href="acerca.html">Acerca de nosotros</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-column">
                    <h3>Medios sociales</h3>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>©2024 All rights reserved | Powered by GRUPO7</p>
            </div>
        </div>
    </footer>

</body>
</html>
