
<body>
    <main class="shopping-cart-container">
        <h1>Reserva</h1>
        <div id="cart-items">
            <!-- Los artículos del carrito se añadirán aquí dinámicamente -->
        </div>
        <div class="cart-summary">
            <p>Total: $<span id="cart-total">0.00</span></p>
            <button id="continue-shopping">Seguir comprando</button>
            <a id="complete-purchase" href="login.html?fromCart=true">Completar compra</a>
        </div>
    </main>

    <!-- Para que funcione la barra de navegación correctamente -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/carritoLogic.js"></script>
</body>
