<body>

    <main class="shopping-cart-container" style="display: none;">
        <h1>Completar Compra</h1>
    </main>    
    <h1 style="text-align: center;">Bienvenido!</h1>

    <div class="login-container">
        <div class="tabs">
            <button class="tab" onclick="showLogin()">Iniciar sesión</button>
            <button class="tab" onclick="showCreateAccount()">Crear cuenta</button>
            
        </div>

        <div id="loginForm">
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <!--
            Logica para que el incio de sesion sea despues de un true en la creacion de cuenta
            <a id="complete-sesion" href="sesion.html?fromSesion=true">Entrar</a>
            -->
            <button class="btn-login" [routerLink]="['/sesion']" >Entrar</button>
            <br> <br>
            <a href="#">He olvidado mi contraseña.</a>
        </div>
    
        <div id="createAccountForm" style="display:none;">
            <input type="text" placeholder="Nombre y apellidos" required>
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <input type="password" placeholder="Contraseña (otra vez)" required>
            <p>Bienvenido, crea una cuenta</p>
            <button type="submit">Crear cuenta</button>
        </div>
    </div>
    
    <script src="js/loginLogic.js"></script>
</body>



