<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="css/img/4b664fa9-f73a-4441-8592-42aedcaafd50.jpeg">
    <title>Hotel Copo de Nieve | Acerca de Nosotros</title>
    <link rel="stylesheet" href="css/styles.acerca.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!--Encabezado-->
    <header class="site-header">
      <a href="inicio.html">
          <img src="css/img/nombreHotel.png" alt="Logo" id="logo">
        </a>
      <div class="header-icons">
          <a href="carrito.html" class="header-icon"><i class="fas fa-shopping-cart"></i></a>
          <a href="login.html" class="header-icon"><i class="fas fa-user"></i></a>
      </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <a class="nav-item nav-link" href="inicio.html">INICIO</a>
                  <a class="nav-item nav-link" href="habitaciones.html">HABITACIONES</a>
                  <a class="nav-item nav-link" href="contacto.html">CONTACTO</a>
                  <a class="nav-item nav-link active" href="acerca.html">ACERCA DE NOSOTROS</a>
              </div>
          </div>
      </div>
  </nav>

    <!--Contenido-->
    <section class="about-section">
        <div class="container">
          <h2>Sobre nosotros</h2>
          <p>
            El hotel ofrece diversas opciones de alojamiento, incluyendo encantadoras cabañas y una casa principal con habitaciones. La distribución específica se determina según las necesidades de los huéspedes, tomando como referencia ejemplos exitosos como el Hotel Dos Chorreras en Cuenca.
            <br>
            <br>
            <b>Cabañas:</b><br>
            <ul>
              <li> Cabaña para 5 personas: Ofrece comodidades para una estancia acogedora.</li>
              <li> Cabaña para 7 personas: Espacio amplio y confortable para grupos más grandes.</li>
              <li> Cabaña para 12 personas: Ideal para reuniones familiares o grupos numerosos.</li>
            </ul>
            
            <b>Habitaciones en la Casa Principal:</b><br>
            <ul>
              <li> Dobles: Habitaciones acogedoras para dos personas.</li>
              <li> Cuádruples: Espacios amplios para familias o grupos pequeños.</li>
              <li> Suites con camas extragrandes dobles: Alojamientos lujosos para un descanso excepcional.</li>
              <li> Suites con cama extragrande: Comodidades exclusivas para una estancia memorable.</li>
            </ul>
            
            <b>Servicios Generales:</b><br>
            <ul>
              <li> Recepción 24 horas</li>
              <li> Habitaciones accesibles</li>
              <li> Acceso a internet gratuito</li>
              <li> Baño privado</li>
              <li> Seguridad contra incendios</li>
              <li> Café o té en la habitación</li>
              <li> Salas de reuniones</li>
              <li> Lobby</li>
              <li> Piscina climatizada</li>
              <li> Servicio de limpieza diario</li>
              <li> Servicio de habitaciones</li>
              <li> Caja fuerte</li>
              <li> Cafetería</li>
              <li> Internet inalámbrico</li>
              <li> Los niños son bienvenidos</li>
              <li> Limpieza en seco</li>
              <li> Servicio de despertador</li>
              <li> Acceso para sillas de ruedas</li>
          </ul>
          
            
            <blockquote style="margin-left: 40px; font-style: italic;">
              ¡Te invitamos a disfrutar de una estancia inolvidable en el Hotel "Copo de Nieve" durante la temporada navideña!
            </blockquote>
          </p>
        </div>
    </section>

    <!-- Pie de página-->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-column">
              <h3>Hotel Copo de Nieve</h3>
              <ul class="footer-contact">
                <li><a href="https://maps.app.goo.gl/Cx6kARwJGkga7PUp9" target="_blank">
                    <i class="fa fa-map-marker"></i>Av. Ladrón de Guevara E11-253, Quito 170143 Ecuador</a>
                </li>
                <li><a href="tel:+59321234567" target="_blank"><i class="fa fa-phone"></i>+5932 1234567</a></li>
                <li><a href="mailto:reservaciones@hotelcopodenieve.com"><i class="fa fa-envelope"></i>reservaciones@hotelcopodenieve.com</li></a></li>
              </ul>
            </div>
            <div class="col-md-6 footer-column">
              <h3>Más</h3>
              <ul class="footer-links">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="habitaciones.html">Habitaciones</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="acerca.html">Acerca de nosotros</a></li>
              </ul>
            </div>
            <div class="col-md-2 footer-column">
              <h3>Medios sociales</h3>
              <ul class="footer-social">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>©2024 All rights reserved | Powered by GRUPO7</p>
          </div>
        </div>
    </footer>

    <!-- Para que funcione la barra de navegación correctamente -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>